<div class="block">

<div class="column is-6" style="float: left;">
        <img src="/assets/img/splash.jpg"> 
</div>

<div class="block column is-5" style="float: left;">

    <h2>Clayman Asset Manager</h2>
    
    <p>
        <b>Clayman</b> is a <b>modern asset manager browser system</b> designed to help users keep assets <b>tidy</b> and <b>searchable</b>. It aims to be <b>fast</b> and <b>responsive</b> even with a high number of assets in the Library.

    </p>
    <p class="related-excerpt">Development status: Alpha > Beta <br>
        Platforms: Win / Linux / Mac - Python 3.7<br></p>
    <hr style="background-color:#424242;">
    <div class="block">
    <b>Grab a flavor:  (Private Beta Only!)</b>
    <hr style="background-color:#424242;">
       <img src="/assets/img/windows.png" width="24" style="top: 7px;position: relative;padding: 4px; background-color: #424242;">   <a href="../download">Download Windows Build</a><br><small>Read the <a href="../support/license"> License here</a> </small><br>
       <img src="/assets/img/centos.png" width="24" style="top: 7px;position: relative;padding: 4px; background-color: #424242;">  <a href="../download">Download Centos 7 Build</a><br><small>Read the <a href="../support/license"> License here</a> </small><br>
       <img src="/assets/img/mac.png" width="24" style="top: 7px;position: relative;padding: 4px; background-color: #424242;">  <a href="../download">Download Mac (Intel) Build</a><br><small>Read the <a href="../support/license"> License here</a> </small><br>
    </div>   
</div>

<!-- fixer --->
<div style="float: left; clear: both;"></div>
<!-- fixer --->
<br>

<div>
<!--- tripplet --->


<div class="block column is-4" style="display:block; clear: both; float: left; position: relative; text-align: center;">
    <hr style="background-color:#424242;">
    <div class="img">
        <h4 >Clayman Asset Manager</h4>
        <hr style="background-color:#424242;">
        <p class="related-excerpt">Desktop application to manage your Libraries</p>
    <img class="image" src="/assets/media/clayman_extended_view.png"> 
    </div>

</div>


<div class="block column is-4" style="display:block; float: left; position: relative;text-align: center;"> 
    <hr style="background-color:#424242;">
    <div class="img">
        <h4 >Clayman Asset Import</h4>
        <hr style="background-color:#424242;">
        <p class="related-excerpt">Create Asset packages by importing your favourite assets</p>
    <img src="/assets/media/clayman_import_filled.png"> 
    </div>

</div>


<div class="block column is-4" style="display:block; float: left; position: relative;text-align: center;"> 
    <hr style="background-color:#424242;">
    <div class="img">
        <h4 >Clayman Application Support</h4>
        <hr style="background-color:#424242;">
        <p class="related-excerpt">Load Clayman inside your 3d application</p>
    <img src="/assets/media/clayman_in_app.png"> 
    </div>

</div>



</div>

</div>


<!-- fixer --->
<div style="float: left; clear: both;"></div>
<!-- fixer --->


</div>

<hr style="background-color:#424242;">
<div style="text-align: center;">
<h5>Support Clayman development!</h5>
<br>


If you want to support Clayman and new features, take a minute and consider one of the following license models.
<br>
For specific license models and usage scenarios please shoot me an email at aleks@clayman.app
<br><br>
<b>There is no charge to download Clayman but Clayman is not Open Source Software.</b> Read the  <a href="../support/license"> License here.</a> 
</div>

<hr style="background-color:#424242;">
{%- include Footer.html -%} 
